<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
  <!-- 数据库驱动 -->
  <context id="MySQLTables" targetRuntime="MyBatis3">
    <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
      connectionURL="jdbc:mysql://localhost:20000/bio?useSSL=false&amp;serverTimezone=UTC"
      userId="bio_dev"
      password="062400" />

    <javaModelGenerator targetPackage="com.xjtlu.bio.entity"
      targetProject="src/main/java" />

    <sqlMapGenerator targetPackage="mapper"
      targetProject="src/main/resources" />

    <javaClientGenerator type="XMLMAPPER"
      targetPackage="com.xjtlu.bio.mapper"
      targetProject="src/main/java" />

    <!-- 要生成的表 -->
    <!-- <table schema="bio" tableName="bio_sample"
      enableCountByExample="true"
      enableUpdateByExample="true"
      enableDeleteByExample="true"
      enableSelectByExample="true">
      <generatedKey column="sid" sqlStatement="JDBC" identity="true" />
    </table> -->


    <!-- <table tableName="bio_project" schema="bio"
      enableCountByExample="true"
      enableUpdateByExample="true"
      enableDeleteByExample="true"
      enableSelectByExample="true"
    >
      <generatedKey column="pid" sqlStatement="JDBC" identity="true" />
    </table> -->

    <!-- <table tableName="bio_user" schema="bio"
      enableCountByExample="true"
      enableUpdateByExample="true"
      enableDeleteByExample="true"
      enableSelectByExample="true"
    >
      <generatedKey column="uid" sqlStatement="JDBC" identity="true" />
    </table> -->


    <table tableName="bio_pipeline_stage" schema="bio"
      enableCountByExample="true"
      enableUpdateByExample="true"
      enableDeleteByExample="true"
      enableSelectByExample="true"
    >
      <generatedKey column="stage_id" sqlStatement="JDBC" identity="true" />
    </table>


    <!-- <table tableName="bio_analysis_pipeline" schema="bio"
      enableCountByExample="true"
      enableUpdateByExample="true"
      enableDeleteByExample="true"
      enableSelectByExample="true"
    >
      <generatedKey column="pipeline_id" sqlStatement="JDBC" identity="true" />
    </table> -->
  </context>
</generatorConfiguration>